# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs backup files
*~
\#*\#

# Executables
src/epic

# Output files

# Autotools files
autom4te.cache/
/config.status
Makefile
/config.h
/config.cache
/stamp.h
.deps
/config.log
# Autotools files for source distrib but not repo
Makefile.in
/aclocal.m4
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing

# FMDB build
fmdb/SCOREC_Software/
fmdb/auxillaryBuildScripts.tar
fmdb/auxillaryBuildScripts/
fmdb/buildFMDBSerial.env
fmdb/buildFMDBSerial.sh
fmdb/fmdbSerial/
