# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs backup files
*~
\#*\#

# Executables
src/epic
src/mesher
src/solutionTransfer

# Autotools files
autom4te.cache/
/config.status
Makefile
/config.h
/config.cache
/stamp.h
.deps
/config.log
# Autotools files for source distrib but not repo
Makefile.in
/aclocal.m4
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing

# FMDB build
#fmdb/SCOREC_Software/
fmdb/SCOREC_Software/FMDB-1.3.8
fmdb/SCOREC_Software/GMI-1.0.1
fmdb/SCOREC_Software/SCUtil
fmdb/SCOREC_Software/meshAdapt
#fmdb/auxillaryBuildScripts.tar
fmdb/auxillaryBuildScripts/
#fmdb/buildFMDBSerial.env
#fmdb/buildFMDBSerial.sh
fmdb/fmdbSerial/

# Library builds
boost/boost_1_49_0/
cuba/Cuba-3.0/
cuba/config.h
cubature/cubature-20101018/
eigen/eigen-eigen-43d9075b23ef/
eigen/printers.pyc
odeint/headmyshoulder-odeint-v2-47dbdac/
vtk/VTK/
cmake/cmake-2.8.8/
netgen/netgen-5.0.0/
netgen/opt/
superlu/SuperLU_4.3
superlu/make.inc
superlu/SuperLU_DIST_3.2
python/Python-2.7.3
quadrature/boostable

# Install directories
bin
lib
include
share

# Profiling output
gmon.out

# Input files
*.vtk
*.vtu

# Output files
src/distFunc
*.sms
*.p3d
*.dat
*.nc
*.out

# Logs
*.log